ul {
    list-style: none;
}

body {
    margin: 0 px
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    padding: 10px;
}


/*ajustar el tamaño del logo con una clase*/

.logo {
    height: 35px;
}